html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  position: relative;
  color: #000;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: blue;
  opacity: 0.75;
  text-decoration: underline;
  -webkit-app-region: no-drag;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

input,
select,
textarea {
  -webkit-app-region: no-drag;
}

/* Loader bar */
.load-bar {
  position: fixed;
  width: 100%;
  height: 3px;
  background-color: #fdba2c;
}
.bar {
  content: '';
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

/* Shake element */
.shakeElm {
  margin: 0 auto;
}

.shakeElm:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* DEFAULTS STYLES */
#title-bar {
  background: #222;
  padding: 5px;
  -webkit-app-region: drag;
}

#title-bar .close {
  background: red;
  color: #000;
  border-radius: 25%;
  padding: 0 6px 0 4px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1em;
  -webkit-app-region: no-drag;
}

#title-bar .minimize {
  background: yellow;
  color: #000;
  border-radius: 25%;
  padding: 0 4px 0 4px;
  font-size: 1em;
  margin-right: 5px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
}

.wrapper .logo {
  max-width: 60%;
  margin: 15px 0 15px 0;
}

.wrapper > div {
  text-align: center;
  width: 350px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: -1px 3px 36px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -1px 3px 36px -2px rgba(0, 0, 0, 0.37);
  box-shadow: -1px 3px 36px -2px rgba(0, 0, 0, 0.37);
}

.wrapper > div select {
  margin-bottom: 30px;
  width: 300px;

  /* height: 40px; */
  padding: 10px;
}

.wrapper > div input {
  margin-bottom: 30px;
  width: 300px;
  height: 30px;
  padding: 10px;
}

.wrapper > div button {
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.wrapper > div button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.app_version {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  color: grey;
  left: -30px;
}

.app_lang {
  position: absolute;
  right: 34%;
  z-index: 2;
  bottom: 8px;
  width: 10%;
  font-size: 0.7em;
  color: grey;
}

.settingsTools i {
  position: relative;
  float: right;
  cursor: pointer;
  margin-right: -18px;
  color: red;
}

#remember-password-wrapper {
  text-align: left;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
}

#remember-password-wrapper input {
  width: 10px;
  height: auto;
  float: left;
  margin-right: 10px;
}
